

html, body {
    margin: 0;
    padding: 0;
}
#topBanner {
    height: 75px;
    width: 100%;
    background: rgba(0, 121, 39, 0.82);
    padding: 10px 3%;
}
#appName {
    margin: 0;
    width: 30%;
    font-family: serif;
    color: white;
}

.userEntry {
    position: absolute;
    left: 25%;
    top: 20%;
    margin: auto auto;
    padding: 25px 15px;
    width: 50%;
    background: green;
}

#userUpdate {
    float: left;
    padding: 25px 15px;
    width: 20%;
    margin: auto;
    background: green;
}

#userDelete {
    float: left;
    padding: 25px 15px;
    width: 20%;
    margin: auto;
    background: green;
}

.editText {
    font-size: 16pt;
    padding: 0;
    margin: 0;
    width: 100%;
}
.button {
    cursor: pointer;
    margin: 15px 15px;
    padding: 2% 2%;
    text-align: center;
    width: auto;
    background: #00CC00;
    border: solid;
}


#showFeed {
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
}
#showList {
    padding: 0;
}
#db {
    position: absolute;
    left: 20%;
    top: 20%;
    margin: auto auto;
    padding: 25px 15px;
    width: 65%;
    background: gainsboro;
    z-index: 4;
}