

html, body {
    margin: 0;
    padding: 0;
}
#topBanner {
    height: 75px;
    width: 100%;
    background: rgba(0, 121, 39, 0.82);
    padding: 10px 3%;
}
#appName {
    margin: 0;
    width: 30%;
    font-family: serif;
    color: white;
}

#logIn {
    float: left;
    padding: 25px 15px;
    width: 20%;
    margin: auto;
    background: green;
}
.logInText {
    font-size: 16pt;
    padding: 0;
    margin: 0;
    width: 75%;
}
#showFeed {
    width: 50%;
    margin: 0 auto;
}
#showList {
    padding: 0;
}

